- name: Extract Version from pubspec.yaml
  id: extract_version
  run: |
    # This line finds 'version: 1.0.0+1' and turns it into 'v1.0.0'
    raw_version=$(grep '^version: ' pubspec.yaml | cut -d ' ' -f 2 | cut -d '+' -f 1)
    echo "VERSION=v$raw_version" >> $GITHUB_ENV
    echo "tag=$raw_version" >> $GITHUB_OUTPUT
